PaperButton {
    -fx-background-image: url("../pictures/ui/button_bg.jpg");
    -fx-text-fill: black;
    -fx-font-family: "Ladylike BB";
    -fx-font-size: 18;
    -fx-effect: dropshadow(gaussian, #4b4d4b, 10, 0, 5, 5);
    /*-fx-pref-width: 150;
    -fx-pref-height: 40;*/
    -fx-background-repeat: no-repeat;
}

PaperButton:hover {
    -fx-effect: dropshadow(gaussian, gray, 20, 0, 5, 5);
}

PaperButton:pressed {
    -fx-effect: dropshadow(gaussian, #1d1f1d, 20, 0, 5, 5);
}

.vBoxMainMenu {
    -fx-spacing: 30;
    -fx-padding: 10, 0, 10, 0;
}

.vBoxMainMenu > PaperButton {
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-font-size: 28;
    -fx-border-radius: 0;
    -fx-border-color: #342411;
    -fx-border-width: 0;
}

.vBoxMainMenu > PaperButton:hover {
    /*-fx-border-color: darkgray;*/
    -fx-translate-x: 10;
}

.vBoxMainMenu > PaperButton:focused {
    /*-fx-border-color: #a4a4a4;*/
    -fx-translate-x: 10;
}

.serverList {
    /*-fx-background-color: black;*/
}

.settingsMenu {
    -fx-font-family: "Ladylike BB" !important;
    -fx-font-size: 21 !important;
}

.settingsMenu > PaperGridPane {
    -fx-padding: 15 60 40 15;
    -fx-background-image: url("../pictures/ui/background.png");
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, #4b4d4b, 20, 0, 5, 5);
}

.settingsMenu > * > .text-field, .settingsMenu > * > .choice-box {
    -fx-background-color: transparent;
    -fx-background-image: url("../pictures/ui/textfield.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 95%;
    -fx-border-width: 0;
}

.settingsMenu > * > .choice-box .arrow {
    -fx-background-color: #694b23;
}

.settingsMenu > * > .choice-box .menu-item:focused {
    -fx-background-color: #c18c3b;
}

.settingsMenu > * > .check-box > * {
    -fx-background-color: transparent;
}

.settingsMenu > * > .check-box > * > .box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.settingsMenu > * > .check-box > .box > .mark {
    -fx-background-image: url("../pictures/ui/checkbox-unmarked.png");
    -fx-background-position: 25% 50%;
    -fx-background-repeat: stretch;
    -fx-shape: none;
}

.settingsMenu > * > .slider {
    -fx-background-image: url("../pictures/ui/slider-track.png");
    -fx-background-position: 50% 48%;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 101% 100%;
    -fx-pref-height: 30;
}

.settingsMenu > * > .slider .thumb {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../pictures/ui/slider-thumb.png");
    -fx-background-position: 50% 50%;
    -fx-pref-height: 30;
}

.settingsMenu > * > .slider .track {
    -fx-background-color: transparent;
}

.settingsMenu > * > .check-box:selected > .box > .mark {
    -fx-background-color: transparent;
    -fx-background-image: url("../pictures/ui/checkbox-marked.png");
}
